@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}
.App {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 11fr;
  grid-gap: 20px;
  font-family: 'Rajdhani', sans-serif;
}

/* ------------ Page ------------ */
.page {
  background-color: lightgray;
  padding: 20px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 4fr 1fr;
}

/* ------------ Left Side Bar ------------ */
.leftSB {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-rows: 1fr 3fr;
}

/* ------------ Main Content ------------ */
.mainContent {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

/* ------------ Right Side Bar ------------ */
.rightSB {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}





/* ------------ Colors ------------ */
.grey {
  background: lightgray;
}
.white {
  background: white;
}